body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* font-family: 'Inter', sans-serif; */
}
section {
  margin-bottom: 150px;
}

/* Banner Design */
.banner {
  background-image: linear-gradient(to top, #121212, transparent),
    url("../images/donation5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}
.banner-content {
  padding-top: 10%;
  padding-bottom: 140px;
}
.banner-title {
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Inter", sans-serif;
}
.banner-text {
  width: 600px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.button {
  color: #fff;
  text-decoration: none;
  background-color: #ff5959;
  padding: 10px 15px;
  border-radius: 5px;
}

/* Donate Section */
.donate {
  text-align: center;
}
.title {
  font-size: 35px;
  margin-bottom: 18px;
  font-family: "Inter", sans-serif;
}
.donate-text,
.about-text,
.contact-text {
  max-width: 690px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #707070;
}
.card-container {
  margin-top: 80px;
}
.card {
  text-decoration: none;
  color: #707070;
  font-weight: bold;
  font-size: 25px;
  background-color: #fafafa;
  padding: 35px 25px;
  border-radius: 5px;
  margin-right: 12px;
  cursor: pointer;
}
#selected {
  color: #ff5959;
  border: 2px solid #ff5959;
  background-color: #ffeeee;
}
.input-container {
  margin-bottom: 32px;
}
.donate-input {
  margin-top: 100px;
  border: none;
  border-bottom: 1px solid #dadada;
  width: 710px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Donate-Plan Section */
.donate-plan {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}
.donate-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  max-width: 1100px;
  margin: 40px auto;
  border-radius: 5px;
  gap: 16px;
}
.donate-card-item {
  padding: 50px 25px;
  background-color: aquamarine;
  border-radius: 5px;
  cursor: pointer;
}
.donate-card-text {
  color: #707070;
}
#food-bg {
  background-color: rgba(31%, 61.6%, 65.1%, 0.2);
}
#shelter-bg {
  background-color: rgba(255, 89, 89, 0.2);
}
#edu-bg {
  background-color: #fff4d6;
}

/* About Section */
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}
.about-left {
  width: 47%;
  margin-right: 48px;
}
.about-right {
  width: 47%;
  padding-right: 5px;
}
.about-left img {
  width: 100%;
  border-radius: 5px;
}

/* Contact Section */
.contact-container {
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
}
.email-container {
  padding: 80px 60px;
  background-color: #fff4d6;
  width: 690px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
.email-input {
  color: #aa9f9f;
  background-color: #d9d9d9;
  border-radius: 5px 0 0 5px;
  padding: 12px;
  padding-right: 100px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  margin-right: 0;
  border: 1px solid #d9d9d9;
}
.email-button {
  text-decoration: none;
  padding: 12px;
  color: #fafafa;
  background-color: #ff5959;
  border-radius: 0 5px 5px 0;
  fon
}

/* Footer Design */
footer {
  text-align: center;
  background-color: #0b0d17;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-title {
  color: #ff5959;
  font-family: "Lobster", cursive;
  font-size: 36px;
}
